.portfolio-main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    /* background-color: #fff; */
}

.portfolio-block {
    align-self: flex-end;
    display: flex;
    /* justify-content: center; */
    /* background-color: #ccff67; */
    width: calc(100% - 250px);
    height: 100%;
    transition: width 0.3s ease;
    margin-top: 20px;
    margin-bottom: 20px;
}

.sidebar.close~.portfolio-block {
    width: calc(100% - 80px);
    transition: width 0.3s ease;
}

.portfolio-block__main-wrapper {
    margin-left: 20px;
    margin-right: 20px;
    width: 100%;
    height: 100%;
    /* fit-content */
    /* background-color: #ff0000; */
}

.portfolio-block__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #121212;
    border-radius: 10px;
    box-shadow: 5px 0 30px -20px rgba(60, 62, 66, 1);
    border: 1px solid #3C3E42;
    /* margin-top: 20px;
    margin-bottom: 20px; */
    width: 100%;
    min-height: 100%;
}

.portfolio-table {
    width: 90%;
}

.portfolio-table table {
    min-width: 100%;
}

.portfolio-table .table-container {
    border: none;
    box-shadow: none;
    margin-bottom: 10px;
}

.portfolio-main .right-block {
    display: flex;
    align-items: center;
    justify-content: center;
}

.purchase {
    color: #00B60F; /* #109618 */
}

.sale {
    color: #EF1211; /* #DC3912 */
}

.asset-cell__ticker {
    color: rgba(143, 143, 143, 0.8);
}

.portfolio-block__main .table-not-found {
    margin-top: 300px;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio-block__main .table-not-found__title {
    color: rgba(255, 255, 255, 0.8);
    font-size: 30px;
    margin-bottom: 10px;
}