div.google-visualization-tooltip {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(24, 24, 24, 0.4);
    box-shadow: 5px 0 30px -20px rgba(60, 62, 66, 1);
    border: 1px solid #3C3E42;
    border-radius: 10px;
}

.tooltip-content {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.tooltip-content .item {
    margin-top: 5px;
}